@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: white;
    --grey: rgb(241, 241, 241);
    --font-grey: rgb(56, 56, 56);
    --poppins: "Poppins", sans-serif;
    --weight-slim: 200;
    --weight-normal: 400;
    --weight-bold: 600;

    font-family: var(--poppins);
}


* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    
}

.container {
    
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.container.detail-visible {
    grid-template-columns: auto 1fr auto; /* Sidebar, Main, and Detail */
}





/*SIDE BAR CSS*/


.mini-side {
    height: 100%;
    
    
}

.mini-side.sidebar-visible {
    display: none;
}

.mini-side i {
    margin: 40px 30px;
    font-size: 35px;
    color: black;
    cursor: pointer;
}





.sidebar {
    display: none;
    margin: 20px 10px 20px 20px;
    padding: 30px;
    background-color: var(--grey);
    min-width: 450px;
    
    
    
    border-radius: 30px;
}

.sidebar.sidebar-visible {
    display: block;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-nav-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar-nav-heading .title {
    font-size: 25px;
    font-weight: var(--weight-bold);
    color: var(--font-grey);
}

.sidebar-nav-heading .sidebuttonicon {
    font-size: 25px;
    color: var(--font-grey);
    cursor: pointer;
}




/*SEARCH BAR*/







.sidebar-searchBar {
    position: relative;
    height: 40px;
    max-width: 100%;
    width: 100%;
    
    background: transparent;
    border: 1px solid #cacaca54;
    border-radius: 8px;
    
}

.sidebar-searchBar i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    color: rgb(184, 184, 184);
    
    pointer-events: none; 
}

.sidebar-searchBar input {
    
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 20px 0 35px; /* Adjusted padding to make room for the icon */
    background-color: transparent;
}

.sidebar-searchBar input::placeholder {
    font-weight: var(--weight-bold);
    font-size: 15px;
    color: rgb(184, 184, 184);
}






/*SEARCH BAR*/




.sidebar-container {
    margin-top: 25px;
    /*Could be grid with multiple sections*/
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-title p {
    font-weight: var(--weight-bold);
    font-size: 12px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-tab {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;

    font-size: 15px;
}

.item-tab:hover {
    background-color: rgb(235, 235, 235);
    
}


.tab-name {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.item-list .counter {
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    padding: 0px 10px;
}


.item-list .counter p {
    font-weight: var(--weight-bold);
}


.item-tab.active {
    background-color: rgb(223, 223, 223);
    cursor: default;
}
.item-list .counter.active {
    background-color: rgb(212, 212, 212) ;
}








/*MAIN CSS*/








.main {
    margin: 20px 10px 20px 10px;
    
    grid-column: 2/3;
    min-width: 900px;
    

    display: flex;
    flex-direction: column; /*so that we can control different UI if there is different UI*/
}

.today-container {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.today-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 50px;
}

.today-container .today-title .title {
    font-weight: var(--weight-bold);
    font-size: 50px;
}

.today-title .counter {
    padding: 2px 15px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    font-size: 35px;
    font-weight: var(--weight-bold);
}

.add-new-task {
    border: 1px solid var(--grey);
    border-radius: 10px ;
    padding: 20px;
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 20px;

    cursor: pointer;

    color: rgb(175, 175, 175)
}

.task-container {
    display: flex;
    flex-direction: column;
}

.task-item {
    padding: 15px;
    border-bottom: 2px solid var(--grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task-item .item-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.task-item:hover {
    background-color: rgb(252, 252, 252);
}












/*DETAIL CSS*/










.detail {
    display: none;
    
    margin: 20px 20px 20px 10px;
   
    min-width: 900px;
    grid-column:3/4;
    
}

.detail.detail-visible {
    display: block;
}

.detail-container {

    border-radius: 20px;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;

    background-color: var(--grey);

    gap: 20px;
}

.detail-heading {
    color: var(--font-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail-heading .title {
    font-weight: var(--weight-bold);
    font-size: 25px;
}

.detail-heading i {
    font-size: 25px;
    cursor: pointer;
}

.detail-name {
    color:rgb(175, 175, 175);
    font-size: 18px;

    border: 2px solid rgb(209, 209, 209);
    padding: 15px 10px;
    border-radius: 10px;
}

.detail-desc {
    color:rgb(175, 175, 175);
    font-size: 18px;

    border: 2px solid rgb(209, 209, 209);
    padding: 15px 10px 80px 10px;
    border-radius: 10px;
}

.detail-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.detail-subtask .detail-subtask-title {
    font-weight: var(--weight-bold);
    font-size: 25px;
    color: var(--font-grey);
}

.subtask-container {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-new-subtask {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;

    border-bottom: 1px solid rgb(223, 223, 223);
    cursor: pointer;
}

.subtask-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



/*Modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-heading i {
    cursor: pointer;
}

.modal.active {
    display: block;
}

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.modal-content {
    margin-top: 200px;
    border-radius: 20px;
    background-color: #ffffff;
    
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 500px;
}

.modal-content input{
    border-radius: 10px;
    padding: 10px 5px;
    width: 60%;
    border: 2px solid #b1b1b14f;
    font-size: 15px;
}

.modal-content #description{
    font-family: var(--poppins);
    border: 2px solid #b1b1b14f;
    padding: 5px;
    max-height: 100px;
    min-height: 100px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    
}

.modal-content #priority {
    border: 2px solid #b1b1b14f;
    border-radius: 5px;
}


  
.modal-heading {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-bottom: 40px;
}

#taskForm .taskAddButton {
    float: right ;
    margin-top: 30px;
    padding: 6px 8px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #b1b1b14f;
}


